---

- block:
    - name: 'Install Nodejs repo'
      yum_repository:
        name: 'NodeJS'
        description: 'NodeJS-$releasever'
        baseurl: '{{ nodejs_repo }}'
        gpgkey: '{{ nodejs_repo_key }}'
        gpgcheck: true
    - name: 'Install Wazuh repo'
      yum_repository:
        name: 'wazuh_repo'
        description: 'Wazuh repository'
        baseurl: '{{ wazuh_repo }}'
        gpgkey: '{{ wazuh_repo_key }}'
        gpgcheck: true
  when: 'wazuh_repo_add'

- name: 'RedHat/CentOS/Fedora | Install openscap'
  async: '{{ wazuh_async_timeout }}'
  package:
    name: 'openscap-scanner'
    state: 'present'
  poll: '{{ wazuh_async_poll }}'
  tags:
    - 'init'
  when: 'wazuh_openscap_enabled|default(false)'

- block:
    - name: 'CentOS 6 | Install Software Collections (SCL) Repository'
      async: '{{ wazuh_async_timeout }}'
      package:
        name: 'centos-release-scl'
        state: 'present'
      poll: '{{ wazuh_async_poll }}'
      when: 'ansible_distribution == "CentOS" and
             ansible_distribution_major_version == "6"'
    - name: 'RedHat 6 | Enabling Red Hat Software Collections (RHSCL)'
      async: '{{ wazuh_async_timeout }}'
      command: 'yum-config-manager --enable {{ item }}'
      loop:
        - 'rhui-REGION-rhel-server-rhscl'
        - 'rhel-server-rhscl-6-rpms'
      poll: '{{ wazuh_async_poll }}'
      when:
        - 'ansible_distribution == "RedHat" and
           ansible_distribution_major_version == "6"'
    - name: 'CentOS/RedHat 6 | Install Python 2.7'
      async: '{{ wazuh_async_timeout }}'
      package:
        name: 'python27'
        state: 'present'
      poll: '{{ wazuh_async_poll }}'
      when: 'ansible_distribution in ["CentOS","RedHat"] and
             ansible_distribution_major_version == "6"'
    - name: 'CentOS/RedHat 6 | Install python-cryptography module'
      async: '{{ wazuh_async_timeout }}'
      pip:
        executable: 'pip2.7'
        name: 'cryptography'
      poll: '{{ wazuh_async_poll }}'
      when: 'ansible_distribution in ["CentOS","RedHat"] and
             ansible_distribution_major_version == "6"'
    - name: 'RedHat/CentOS/Fedora | Install python-cryptography module'
      async: '{{ wazuh_async_timeout }}'
      package:
        name: 'python-cryptography'
        state: 'present'
      poll: '{{ wazuh_async_poll }}'
      when: 'not ( ansible_distribution in ["CentOS","RedHat"]
               and ansible_distribution_major_version == "6" )'
  when: 'wazuh_cluster_enabled|default(false)'

- block:
    - name: 'RedHat/CentOS/Fedora | download Oracle Java RPM'
      async: '{{ wazuh_async_timeout }}'
      get_url:
        url: '{{ oracle_java_url }}'
        dest: '/tmp/{{ oracle_java_url|basename }}'
        headers: 'Cookie:oraclelicense=accept-securebackup-cookie'
      poll: '{{ wazuh_async_poll }}'
    - name: 'RedHat/CentOS/Fedora | Install Oracle Java RPM'
      async: '{{ wazuh_async_timeout }}'
      package:
        name: '/tmp/{{ oracle_java_url|basename }}'
        state: 'present'
      poll: '{{ wazuh_async_poll }}'
      when:
        - 'oracle_java_task_rpm_download is defined'
        - '"finished" in oracle_java_task_rpm_download'
        - 'oracle_java_task_rpm_download.finished'
  tags:
    - 'init'
  when:
    - 'wazuh_ciscat_enabled|default(false)'
    - 'wazuh_java_install'
